* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100vh;
  width: 100%;
}

:root {
  --dice-side: 100px;

}

.dice-container {
  width: 80%;
  margin: 10% auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: calc((var(--dice-side) / 2));
}

.dice {
  position: relative;
  height: var(--dice-side);
  width: var(--dice-side);
  perspective: 50000px;

  flex: 0 0 var(--dice-side);

  transition: 1s transform;
  transform-style: preserve-3d;
}

.dice-side {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  line-height: var(--dice-side);
  font-size: 2em;

  border: 1px solid red;
}

[data-value]::after {
  content: attr(data-value);
}

[data-value="1"] {
  transform: translateZ(calc(var(--dice-side) / 2));
}

[data-value="2"] {
  right: calc(var(--dice-side) / -2);
  transform: rotateY(90deg);
}

[data-value="3"] {
  transform: rotateX(90deg) translateZ(calc(var(--dice-side) / 2));
}

[data-value="4"] {
  transform: rotateX(-90deg) translateZ(calc(var(--dice-side) / 2));
}

[data-value="5"] {
  left: calc(var(--dice-side) / -2);
  transform: rotateY(-90deg);
}

[data-value="6"] {
  transform: translateZ(calc(var(--dice-side) / -2)) rotateY(180deg);
}

@keyframes spin-dice {
  0% {
    transform: rotate3d(0, 0, 0, 0);
  }
  50% {
    transform: rotate3d(.50, 1, 0, 720deg);
  }
  100% {
    transform: rotate3d(1, 1, 0, 1800deg);
  }
}